.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 10px;
  color: rgb(92, 92, 92);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Button-drawer > button
{
  margin:8px;
  font-size:15px;
}
.pic 
{
  height:400px;
  width: 100%;
}

.card
{
  max-width: 400px;
  margin:5px;
}
.card > Button
{
  width:100%;
}

body
{
  background-color: #222;
}

h3
{
  font-size:20px;
  color:rgb(64, 68, 110);
}
a:hover
{
  color: white;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
